[data]
dframe = 1
init_frame = 0
end_frame = -1
can_frame = -1

[data_0]
ishuman = y
ks = 1920 1920 540 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/adult-400/

[data_1]
ishuman = y
ks = 1920 1920 540 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/adult-401/

[data_2]
ishuman = y
ks = 1920 1920 540 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/adult-402/

[data_3]
ishuman = y
ks = 1920 1920 540 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/adult-404/

[data_4]
ishuman = y
ks = 1920 1920 540 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/adult-405/

[data_5]
ishuman = y
ks = 1920 1920 540 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/adult-407/

[data_6]
ishuman = y
ks = 1920 1920 540 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/adult-500/

[data_7]
ishuman = y
ks = 1920 1920 540 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/adult-501/

[data_8]
ishuman = y
ks = 1920 1920 540 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/adult-502/

[data_9]
ishuman = y
ks = 1920 1920 540 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/adult-503/
