[data]
dframe = 1
init_frame  = 0
end_frame = -1
can_frame = -1

[data_0]
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/bboy-100/

[data_1]
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/bboy-101/

[data_2]
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/bboy-102/

[data_3]
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/bboy-103/

[data_4]
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/bboy-104/

[data_5]
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/bboy-105/

[data_6]
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/bboy-106/

[data_7]
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/bboy-107/
