[data]
dframe = 1
init_frame = 0
end_frame = -1
can_frame = -1

# original
#[data_0]
#ishuman = n
#ks = 1920 1920 960 540
#datapath = database/DAVIS/JPEGImages/Full-Resolution/cat-socks000/
#
#[data_1]
#ishuman = n
#ks = 1920 1920 960 540
#datapath = database/DAVIS/JPEGImages/Full-Resolution/cat-socks001/
#
#[data_2]
#ishuman = n
#ks = 1920 1920 960 540
#datapath = database/DAVIS/JPEGImages/Full-Resolution/cat-socks002/
#
#[data_3]
#ishuman = n
#ks = 1920 1920 960 540
#datapath = database/DAVIS/JPEGImages/Full-Resolution/cat-socks003/
#
#[data_4]
#ishuman = n
#ks = 1920 1920 960 540
#datapath = database/DAVIS/JPEGImages/Full-Resolution/cat-socks004/
#
#[data_5]
#ishuman = n
#ks = 1920 1920 960 540
#datapath = database/DAVIS/JPEGImages/Full-Resolution/cat-socks005/
#
#[data_6]
#ishuman = n
#ks = 1920 1920 960 540
#datapath = database/DAVIS/JPEGImages/Full-Resolution/cat-socks006/
#
#[data_7]
#ishuman = n
#ks = 1920 1920 960 540
#datapath = database/DAVIS/JPEGImages/Full-Resolution/cat-socks007/

# reduced
[data_0]
ishuman = n
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/cat-socks006/
