[data]
dframe = 1
init_frame  = 0
end_frame = -1
can_frame = -1

[data_0]
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/cat-pikachiu00/

[data_1]
ks = 1920 1920 540 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/cat-pikachiu01/

[data_2]
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/cat-pikachiu02/

[data_3]
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/cat-pikachiu03/

[data_4]
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/cat-pikachiu04/

[data_5]
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/cat-pikachiu05/

[data_6]
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/cat-pikachiu06/

[data_7]
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/cat-pikachiu07/

[data_8]
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/cat-pikachiu08/

[data_9]
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/cat-pikachiu09/

[data_10]
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/cat-pikachiu13/
