[data]
dframe = 1
init_frame = 0
end_frame = -1
can_frame = -1

[data_0]
ishuman = n
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/cat-coco000/

[data_1]
ishuman = n
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/cat-coco001/

[data_2]
ishuman = n
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/cat-coco002/

[data_3]
ishuman = n
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/cat-coco003/

[data_4]
ishuman = n
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/cat-coco004/

[data_5]
ishuman = n
ks = 1920 1920 540 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/cat-coco005/

