[data]
dframe = 1
init_frame  = 0
end_frame = -1
can_frame = -1

[data_0]
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/cat-socks03/

#[data_0]
#ks = 1920 1920 960 540
#datapath = database/DAVIS/JPEGImages/Full-Resolution/cat-socks00/
#
#[data_1]
#ks = 1920 1920 540 960
#datapath = database/DAVIS/JPEGImages/Full-Resolution/cat-socks01/
#
#[data_2]
#ks = 1920 1920 960 540
#datapath = database/DAVIS/JPEGImages/Full-Resolution/cat-socks02/
#
#[data_3]
#ks = 1920 1920 960 540
#datapath = database/DAVIS/JPEGImages/Full-Resolution/cat-socks03/
#
#[data_4]
#ks = 1920 1920 960 540
#datapath = database/DAVIS/JPEGImages/Full-Resolution/cat-socks04/
