[data]
dframe = 1
init_frame  = 0
end_frame = -1
can_frame = -1

[data_0]
ks = 2560 2560 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/cheetah-100/

[data_1]
ks = 2560 2560 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/cheetah-101/

[data_2]
ks = 4096 4096 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/cheetah-200/

[data_3]
ks = 4096 4096 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/cheetah-201/
