[data]
dframe = 1
init_frame  = 0
end_frame = -1
can_frame = -1

[data_0]
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/cheetah-100/

[data_1]
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/cheetah-101/

[data_2]
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/cheetah-102/

[data_3]
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/cheetah-103/

[data_4]
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/cheetah-104/
