[data]
dframe = 1
init_frame = 0
end_frame = -1
can_frame = -1

[data_0]
ishuman = n
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/penguin000/

[data_1]
ishuman = n
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/penguin001/

[data_2]
ishuman = n
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/penguin002/

[data_3]
ishuman = n
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/penguin003/

[data_4]
ishuman = n
ks = 1920 1920 540 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/penguin004/

[data_5]
ishuman = n
ks = 1920 1920 540 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/penguin005/

[data_6]
ishuman = n
ks = 1920 1920 540 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/penguin006/

[data_7]
ishuman = n
ks = 1920 1920 540 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/penguin007/

[data_8]
ishuman = n
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/penguin008/

