[data]
dframe = 1
init_frame  = 0
end_frame = -1
can_frame = -1

[data_0]
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/polarbear-100/

[data_1]
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/polarbear-101/

[data_2]
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/polarbear-102/

[data_3]
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/polarbear-103/
