[data]
dframe = 1
init_frame  = 0
end_frame = -1
can_frame = -1

[data_0]
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/polarbear-300/

[data_1]
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/polarbear-301/

[data_2]
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/polarbear-302/

[data_3]
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/polarbear-303/

[data_4]
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/polarbear-200/

[data_5]
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/polarbear-101/
