[data]
dframe = 1
init_frame  = 0
end_frame = -1
can_frame = -1

[data_0]
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/cat_905/

[data_1]
ks = 1920 1920 540 960
datapath = database/DAVIS/JPEGImages/Full-Resolution/cat_300

[data_2]
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/cat_301

[data_3]
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/cat_401

[data_4]
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/cat_807

[data_5]
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/cat_802

[data_6]
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/cat_803/

[data_7]
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/cat_805/

[data_8]
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/cat_806/

[data_9]
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/cat_903/
