[data]
dframe = 1
init_frame  = 0
end_frame = -1
can_frame = -1

[data_0]
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/cat_905/

[data_1]
ks = 1920 1920 540 960
rtk_path = ../vid2shape/database/DAVIS/Cameras/Full-Resolution/nerfies_cat_300//cam
datapath = database/DAVIS/JPEGImages/Full-Resolution/nerfies_cat_300

[data_2]
ks = 1920 1920 960 540
rtk_path = ../vid2shape/database/DAVIS/Cameras/Full-Resolution/nerfies_cat_301//cam
datapath = database/DAVIS/JPEGImages/Full-Resolution/nerfies_cat_301

[data_3]
ks = 1920 1920 960 540
rtk_path = ../vid2shape/database/DAVIS/Cameras/Full-Resolution/nerfies_cat_401//cam
datapath = database/DAVIS/JPEGImages/Full-Resolution/nerfies_cat_401

[data_4]
ks = 1920 1920 960 540
rtk_path = ../vid2shape/database/DAVIS/Cameras/Full-Resolution/nerfies_cat_807//cam
datapath = database/DAVIS/JPEGImages/Full-Resolution/nerfies_cat_807

[data_5]
ks = 1920 1920 960 540
rtk_path = ../vid2shape/database/DAVIS/Cameras/Full-Resolution/nerfies_cat_802//cam
datapath = database/DAVIS/JPEGImages/Full-Resolution/nerfies_cat_802

[data_6]
ks = 1920 1920 960 540
rtk_path = ../vid2shape/database/DAVIS/Cameras/Full-Resolution/nerfies_cat_803//cam
datapath = database/DAVIS/JPEGImages/Full-Resolution/nerfies_cat_803/

[data_7]
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/cat_805/

[data_8]
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/cat_806/

[data_9]
ks = 1920 1920 960 540
datapath = database/DAVIS/JPEGImages/Full-Resolution/cat_903/
