[data]
dframe = 1
init_frame  = 0
end_frame = -1
can_frame = -1

[data_0]
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-101/

[data_1]
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-102/

[data_2]
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-103/

[data_3]
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-104/

[data_4]
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-105/

[data_5]
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-106/

[data_6]
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-200/

[data_7]
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-201/

[data_8]
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-202/

[data_9]
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-203/

[data_10]
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-204/

[data_11]
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-205/

[data_12]
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-206/
