[data]
dframe = 1
init_frame = 0
end_frame = -1
can_frame = -1

## original set
#[data_0]
#ishuman = n
#ks = 1280 1280 640 360
#datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-1000/
#
#[data_1]
#ishuman = n
#ks = 1280 1280 640 360
#datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-1001/
#
#[data_2]
#ishuman = n
#ks = 1280 1280 640 360
#datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-1002/
#
#[data_3]
#ishuman = n
#ks = 1280 1280 640 360
#datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-1003/
#
#[data_4]
#ishuman = n
#ks = 1280 1280 640 360
#datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-1004/
#
#[data_5]
#ishuman = n
#ks = 1280 1280 640 360
#datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-1005/
#
#[data_6]
#ishuman = n
#ks = 1280 1280 640 360
#datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-1006/
#
#[data_7]
#ishuman = n
#ks = 1280 1280 640 360
#datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-1007/
#
#[data_8]
#ishuman = n
#ks = 1280 1280 640 360
#datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-1008/
#
#[data_9]
#ishuman = n
#ks = 1280 1280 640 360
#datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-1009/
#
#[data_10]
#ishuman = n
#ks = 1280 1280 640 360
#datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-1010/
#
#[data_11]
#ishuman = n
#ks = 1280 1280 640 360
#datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-1011/
#
#[data_12]
#ishuman = n
#ks = 1280 1280 640 360
#datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-1012/
#
#[data_13]
#ishuman = n
#ks = 1280 1280 640 360
#datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-1013/

## reduced set
#[data_0]
#ishuman = n
#ks = 1280 1280 640 360
#datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-1001/
#
#[data_1]
#ishuman = n
#ks = 1280 1280 640 360
#datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-1002/
#
#[data_2]
#ishuman = n
#ks = 1280 1280 640 360
#datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-1003/
#
#[data_3]
#ishuman = n
#ks = 1280 1280 640 360
#datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-1004/
#
#[data_4]
#ishuman = n
#ks = 1280 1280 640 360
#datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-1005/
#
#[data_5]
#ishuman = n
#ks = 1280 1280 640 360
#datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-1006/
#
#[data_6]
#ishuman = n
#ks = 1280 1280 640 360
#datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-1007/
#
#[data_7]
#ishuman = n
#ks = 1280 1280 640 360
#datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-1009/
#
#[data_8]
#ishuman = n
#ks = 1280 1280 640 360
#datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-1010/
#
#[data_9]
#ishuman = n
#ks = 1280 1280 640 360
#datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-1011/
#
#[data_10]
#ishuman = n
#ks = 1280 1280 640 360
#datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-1012/
#
#[data_11]
#ishuman = n
#ks = 1280 1280 640 360
#datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-1013/

# reduced set v2
[data_0]
ishuman = n
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-1001/

[data_1]
ishuman = n
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-1002/

[data_2]
ishuman = n
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-1003/

[data_3]
ishuman = n
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-1004/

[data_4]
ishuman = n
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-1005/

[data_5]
ishuman = n
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-1006/

[data_6]
ishuman = n
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-1007/

[data_7]
ishuman = n
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-1009/

[data_8]
ishuman = n
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-1011/

[data_9]
ishuman = n
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-1012/

[data_10]
ishuman = n
ks = 1280 1280 640 360
datapath = database/DAVIS/JPEGImages/Full-Resolution/shiba-haru-1013/
